body {
    margin: 0;
    color: #fafafa;
}

.hidden {
    display: none;
}

.center {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

input {
    font-size: 22px;
    caret-color: #fafafa;
    background-color: transparent;
    border-width: 0 0 2px;
    border-color: white;
    outline: none;
    color: inherit;
    text-align: center;
}

input::placeholder {
    text-align: center;
    color: #fafafa;
}

#clock{
    font-size: 70px;
    margin: 12px;
    
}

#login-form{
    margin: 12px;
}

#todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

#todo-list {
    padding-left: 0;
    font-size: 26px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-list li {
    padding-left: 0;
    font-size: 26px;
}

#quote {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; 
    align-items: center;
}

#quote span {
    display: block;
    margin: 2px 6px;
}

#quote span:first-child {
    display: block;
    font-size: 18px;
}

#quote span:last-child {
    font-size: 14px;
}

img {
    width: 100vw;
    height: 100vh;
}

#weather {
    color: black;
}